

/*Aside Menu
------------------------------------*/
.aside-menu {
	width: 280px;
	height: 100%;
	/*overflow-y: scroll;*/
	position: fixed;
	right: 0;
	top: 0;
	background: #222222;
	border-left: 1px solid #333;
	display: none;
	z-index: 1000;	
}

body.aside-menu-in {

}

.wrapper {
	position: relative; 
	left: 0;
	-webkit-transition: all 300ms cubic-bezier(.25, .46, .45, .94);
	-moz-transition: all 300ms cubic-bezier(.25, .46, .45, .94);
	-o-transition: all 300ms cubic-bezier(.25, .46, .45, .94);
	transition: all 300ms cubic-bezier(.25, .46, .45, .94);
	-webkit-transition-timing-function: cubic-bezier(.25, .46, .45, .94);
	-moz-transition-timing-function: cubic-bezier(.25, .46, .45, .94);
	-o-transition-timing-function: cubic-bezier(.25, .46, .45, .94);
	transition-timing-function: cubic-bezier(.25, .46, .45, .94);		
}

body.aside-menu-in .wrapper {
	left: -280px;	
}

.btn-close{
	width: 80px;
	height: 80px;
	position: absolute;
	right: 0px;
	top: 0px;
	overflow: hidden;
	border: none;
	background: url(/images/cross.png) no-repeat center center;
	text-indent: 200%;
	color: transparent;
	outline: none;
	z-index: 1001;	
}

.side-section-title {
	position: relative;
	overflow: hidden;
	margin: 0;
	margin-top: 15px;
	padding: 8px 15px;
	font-size: 11px;
	text-transform: uppercase;
	color: #616161;
}

.aside-menu .contact-info, .aside-menu .profile-info {
	padding: 15px;
	color: #fff;
}
.aside-menu .contact-info h5, .aside-menu .contact-info p {
	color: #fff;
	font-size: 12px;
}

.contact-info h5 {
	margin: 0;
}

.aside-menu .account-content {
	text-align: left;
	padding: 10px;
	line-height: 24px;
	list-style: none;
	color : #fff;
}


.side-section-nav  .dropdown-menu>li>a:hover{
	background: #222222;
	
}

.side-section-nav {
position: relative;
border-bottom: solid 2px #616161;
/*margin: 0px 10px 0px 10px;*/
}


.header .navbar .nav > li > .options {
	color: #aaa;
	cursor: pointer;
	min-width: 35px;
	font-size: 15px;
	text-align: center;
	background: #f7f7f7;
	padding: 11px 0 12px;
	display: inline-block;
	border-bottom: solid 2px #aaa;	
}
/*
* Utility 
**/
.no-animation {
	-webkit-animation-duration: 0s !important;
	-moz-animation-duration: 0s !important;
	-o-animation-duration: 0s !important;
	animation-duration: 0s !important
}

.bordered {
	border: 1px solid #e4e4e4
}

.bordered[class*=bg-],[class*=bg-] .border-t {
	border-color: #fff;
	border-color: rgba(0, 0, 0, .2)
}

.border-t {
	border-top: 1px solid #e4e4e4
}

.no-border {
	border-width: 0 !important
}

.no-border-hr {
	border-left-width: 0 !important;
	border-right-width: 0 !important
}

.no-border-vr {
	border-top-width: 0 !important;
	border-bottom-width: 0 !important
}

.no-border-t {
	border-top-width: 0 !important
}

body:not (.right-to-left ) .no-border-r {
	border-right-width: 0 !important
}

.no-border-b {
	border-bottom-width: 0 !important
}

body:not (.right-to-left ) .no-border-l {
	border-left-width: 0 !important
}

.no-grid-gutter-h {
	margin-left: -18px !important;
	margin-right: -18px !important
}

.panel-wide {
	margin-left: -20px !important;
	margin-right: -20px !important
}

.grid-gutter-margin-b {
	margin-bottom: 22px
}

.no-margin {
	margin: 0 !important
}

.no-margin-hr {
	margin-left: 0 !important;
	margin-right: 0 !important
}

.no-margin-vr {
	margin-top: 0 !important;
	margin-bottom: 0 !important
}

.no-margin-b {
	margin-bottom: 0 !important
}

.no-margin-t {
	margin-top: 0 !important
}

.form-group-margin {
	margin-bottom: 15px !important
}

.panel-padding {
	padding: 20px !important
}

.grid-gutter-padding-h {
	padding-left: 18px;
	padding-right: 18px
}

.tab-content-padding {
	padding: 15px 0 !important
}

.panel-padding-h {
	padding-left: 20px !important;
	padding-right: 20px !important
}

.padding-sm {
	padding: 10px 15px !important
}

.padding-sm-hr {
	padding-left: 15px !important;
	padding-right: 15px !important
}

.padding-xs-hr {
	padding-left: 10px !important;
	padding-right: 10px !important
}

.padding-sm-vr {
	padding-top: 15px !important;
	padding-bottom: 15px !important
}

.padding-xs-vr {
	padding-top: 10px !important;
	padding-bottom: 10px !important
}

.no-padding {
	padding: 0 !important
}

.no-padding-hr {
	padding-left: 0 !important;
	padding-right: 0 !important
}

.no-padding-vr {
	padding-top: 0 !important;
	padding-bottom: 0 !important
}

.no-padding-b {
	padding-bottom: 0 !important
}

.no-padding-t {
	padding-top: 0 !important
}

/* Text
------------------------------------*/
.title {
	border-bottom: 3px double #f6f6f6;
	margin-bottom: 10px;
}

.title h1, .title h2, .title h3, .title h4, .title h5, .title h6 {
	border-bottom: 5px solid #29a9df!important;
	display: inline-block;
	padding: 0 10px!important;
	margin: 0 15px -4px 15px!important;
	line-height: 25px;
}

.footer .title {
	border-bottom: 0px;	
	color: #f2f2f2;
	font-weight: bold;
	margin: 0 0 20px 0;
}

.footer .title  h1, .footer .title h2, .footer .title h3, .footer .title h4, .footer .title h5, .footer .title h6{ 
	color: #f2f2f2;	
	margin-left : 0px;	
}
