
.navbar-toggle-account {	
	position: relative;
	float: right;
	padding: 9px 10px;
	margin-top: 8px;
	margin-right: 15px;
	margin-bottom: 8px;
	background-color: transparent;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;
}

.navbar-toggle-account  img{	
	max-height:32px;
}

.tooltip-alert {
	opacity: 1;
	top: 100%;
	padding: 2px 8px 3px;
	color: #a94442;
}

.navbar-toggle-inverse {
	position: relative;
	float: right;
	padding: 6px 10px 2px;
	margin-top: 6px;
	margin-right: 0px;
	margin-bottom: 8px;
	background-color: transparent;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;
}

a.navbar-toggle-inverse :hover {
	color : #2980b9;
}


/*Aside Menu
------------------------------------*/
.wrapper  {
	position: relative; 
	left: 0;
	-webkit-transition: all 300ms cubic-bezier(.25, .46, .45, .94);
	-moz-transition: all 300ms cubic-bezier(.25, .46, .45, .94);
	-o-transition: all 300ms cubic-bezier(.25, .46, .45, .94);
	transition: all 300ms cubic-bezier(.25, .46, .45, .94);
	-webkit-transition-timing-function: cubic-bezier(.25, .46, .45, .94);
	-moz-transition-timing-function: cubic-bezier(.25, .46, .45, .94);
	-o-transition-timing-function: cubic-bezier(.25, .46, .45, .94);
	transition-timing-function: cubic-bezier(.25, .46, .45, .94);		
}

.aside-menu {
	width: 280px;
	height: 100%;
	overflow-x: hidden;
	position: fixed;
	right: -280px; 
	top: 0;
	background: #222222;
	border-left: 1px solid #333;
	display: block;
	z-index: 1000;		
	-webkit-transition: all 300ms cubic-bezier(.25, .46, .45, .94);
	-moz-transition: all 300ms cubic-bezier(.25, .46, .45, .94);
	-o-transition: all 300ms cubic-bezier(.25, .46, .45, .94);
	transition: all 300ms cubic-bezier(.25, .46, .45, .94);
	-webkit-transition-timing-function: cubic-bezier(.25, .46, .45, .94);
	-moz-transition-timing-function: cubic-bezier(.25, .46, .45, .94);
	-o-transition-timing-function: cubic-bezier(.25, .46, .45, .94);
	transition-timing-function: cubic-bezier(.25, .46, .45, .94);			
}

body.aside-menu-in .wrapper {
	left: -280px;	
}

body.aside-menu-in .aside-menu {
	right : 0;	
}

@media (max-width: 600px) {	
	body.aside-menu-in {
		overflow-y: hidden;
	}	
}

.btn-close{
	width: 80px;
	height: 80px;
	position: absolute;
	right: 0px;
	top: 0px;
	overflow: hidden;
	border: none;
	background: url(/images/cross.png) no-repeat center center;
	text-indent: 200%;
	color: transparent;
	outline: none;
	z-index: 1001;	
}

.btn-close.btn-close-grey {
	background: url(/images/cross-grey.png) no-repeat center center;
}


.close-sm {
	position: absolute;
	width: 40px;
	height: 40px;
	top: 25px;
	right: 25px;
	cursor: pointer;
}

.close-sm::before,
.close-sm::after {
	content: '';
	position: absolute;
	width: 100%;
	top: 50%;
	height: 1px;
	background: #888;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	transform: rotate(45deg);
}

.close-sm::after {
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.close-sm:hover::before,
.close-sm:hover::after {
	background: #333;
}



.side-section-title {
	position: relative;
	overflow: hidden;
	margin: 0;
	margin-top: 15px;
	padding: 8px 15px;
	font-size: 11px;
	text-transform: uppercase;
	color: #616161;
}

.side-section-title.white  {
	color: #fff;
}
.aside-menu .contact-info, .aside-menu .profile-info {
	padding: 15px;
	color: #fff;
}
.aside-menu .contact-info h5, .aside-menu .contact-info p {
	color: #fff;
	font-size: 12px;
}

.contact-info h5 {
	margin: 0;
}

.aside-menu .account-content {
	text-align: left;
	padding: 10px;
	line-height: 24px;
	list-style: none;
	color : #fff;
}


.side-section-nav  .dropdown-menu>li>a:hover{
	background: #222222;
	
}

.side-section-nav {
position: relative;
border-bottom: solid 2px #616161;
/*margin: 0px 10px 0px 10px;*/
}


.header .navbar .nav > li > .options {
	color: #aaa;
	cursor: pointer;
	min-width: 35px;
	font-size: 15px;
	text-align: center;
	background: #f7f7f7;
	padding: 11px 0 12px;
	display: inline-block;
	border-bottom: solid 2px #aaa;	
}
/*
* Utility 
**/
.no-animation {
	-webkit-animation-duration: 0s !important;
	-moz-animation-duration: 0s !important;
	-o-animation-duration: 0s !important;
	animation-duration: 0s !important
}

.bordered {
	border: 1px solid #e4e4e4
}

.bordered[class*=bg-],[class*=bg-] .border-t {
	border-color: #fff;
	border-color: rgba(0, 0, 0, .2)
}

.border-t {
	border-top: 1px solid #e4e4e4
}

.no-border {
	border-width: 0 !important
}

.no-border-hr {
	border-left-width: 0 !important;
	border-right-width: 0 !important
}

.no-border-vr {
	border-top-width: 0 !important;
	border-bottom-width: 0 !important
}

.no-border-t {
	border-top-width: 0 !important
}

body:not (.right-to-left ) .no-border-r {
	border-right-width: 0 !important
}

.no-border-b {
	border-bottom-width: 0 !important
}

body:not (.right-to-left ) .no-border-l {
	border-left-width: 0 !important
}

.no-grid-gutter-h {
	margin-left: -18px !important;
	margin-right: -18px !important
}

.panel-wide {
	margin-left: -20px !important;
	margin-right: -20px !important
}

.grid-gutter-margin-b {
	margin-bottom: 22px
}

.no-margin {
	margin: 0 !important
}

.no-margin-hr {
	margin-left: 0 !important;
	margin-right: 0 !important
}

.no-margin-vr {
	margin-top: 0 !important;
	margin-bottom: 0 !important
}

.no-margin-b {
	margin-bottom: 0 !important
}

.no-margin-t {
	margin-top: 0 !important
}

.form-group-margin {
	margin-bottom: 15px !important
}

.panel-padding {
	padding: 20px !important
}

.grid-gutter-padding-h {
	padding-left: 18px;
	padding-right: 18px
}

.tab-content-padding {
	padding: 15px 0 !important
}

.panel-padding-h {
	padding-left: 20px !important;
	padding-right: 20px !important
}

.padding-sm {
	padding: 10px 15px !important
}

.padding-sm-hr {
	padding-left: 15px !important;
	padding-right: 15px !important
}

.padding-xs-hr {
	padding-left: 10px !important;
	padding-right: 10px !important
}

.padding-xxs-hr {
	padding-left: 5px !important;
	padding-right: 5px !important
}


.padding-sm-vr {
	padding-top: 15px !important;
	padding-bottom: 15px !important
}

.padding-xs-vr {
	padding-top: 10px !important;
	padding-bottom: 10px !important
}

.no-padding {
	padding: 0 !important
}

.no-padding-hr {
	padding-left: 0 !important;
	padding-right: 0 !important
}

.no-padding-vr {
	padding-top: 0 !important;
	padding-bottom: 0 !important
}

.no-padding-b {
	padding-bottom: 0 !important
}

.no-padding-t {
	padding-top: 0 !important
}

.no-padding-r {
	padding-right: 0 !important
}

/* MARGINS & PADDINGS */

.p-xxs {
    padding: 5px;
}

.p-xs {
    padding: 10px;
}

.p-sm {
    padding: 15px;
}

.p-m {
    padding: 20px;
}

.p-md {
    padding: 25px;
}

.p-lg {
    padding: 30px;
}

.p-xl {
    padding: 40px;
}

.m-xxs {
    margin: 2px 4px;
}
.m-xs {
    margin: 5px;
}
.m-sm {
    margin: 10px;
}
.m {
    margin: 15px;
}
.m-md {
    margin: 20px;
}
.m-lg {
    margin: 30px;
}
.m-xl {
    margin: 50px;
}
.m-n {
    margin: 0 !important;
}
.m-l-none {
    margin-left: 0;
}
.m-l-xs {
    margin-left: 5px;
}
.m-l-sm {
    margin-left: 10px;
}
.m-l {
    margin-left: 15px;
}
.m-l-md {
    margin-left: 20px;
}
.m-l-lg {
    margin-left: 30px;
}
.m-l-xl {
    margin-left: 40px;
}
.m-l-n-xxs {
    margin-left: -1px;
}
.m-l-n-xs {
    margin-left: -5px;
}
.m-l-n-sm {
    margin-left: -10px;
}
.m-l-n {
    margin-left: -15px;
}
.m-l-n-md {
    margin-left: -20px;
}
.m-l-n-lg {
    margin-left: -30px;
}
.m-l-n-xl {
    margin-left: -40px;
}
.m-t-none {
    margin-top: 0;
}
.m-t-xxs {
    margin-top: 1px;
}
.m-t-xs {
    margin-top: 5px;
}
.m-t-sm {
    margin-top: 10px;
}
.m-t {
    margin-top: 15px;
}
.m-t-md {
    margin-top: 20px;
}
.m-t-lg {
    margin-top: 30px;
}
.m-t-xl {
    margin-top: 40px;
}
.m-t-n-xxs {
    margin-top: -1px;
}
.m-t-n-xs {
    margin-top: -5px;
}
.m-t-n-sm {
    margin-top: -10px;
}
.m-t-n {
    margin-top: -15px;
}
.m-t-n-md {
    margin-top: -20px;
}
.m-t-n-lg {
    margin-top: -30px;
}
.m-t-n-xl {
    margin-top: -40px;
}
.m-r-none {
    margin-right: 0;
}
.m-r-xxs {
    margin-right: 1px;
}
.m-r-xs {
    margin-right: 5px;
}
.m-r-sm {
    margin-right: 10px;
}
.m-r {
    margin-right: 15px;
}
.m-r-md {
    margin-right: 20px;
}
.m-r-lg {
    margin-right: 30px;
}
.m-r-xl {
    margin-right: 40px;
}
.m-r-n-xxs {
    margin-right: -1px;
}
.m-r-n-xs {
    margin-right: -5px;
}
.m-r-n-sm {
    margin-right: -10px;
}
.m-r-n {
    margin-right: -15px;
}
.m-r-n-md {
    margin-right: -20px;
}
.m-r-n-lg {
    margin-right: -30px;
}
.m-r-n-xl {
    margin-right: -40px;
}
.m-b-none {
    margin-bottom: 0;
}
.m-b-xxs {
    margin-bottom: 1px;
}
.m-b-xs {
    margin-bottom: 5px;
}
.m-b-sm {
    margin-bottom: 10px;
}
.m-b {
    margin-bottom: 15px;
}
.m-b-md {
    margin-bottom: 20px;
}
.m-b-lg {
    margin-bottom: 30px;
}
.m-b-xl {
    margin-bottom: 40px;
}
.m-b-n-xxs {
    margin-bottom: -1px;
}
.m-b-n-xs {
    margin-bottom: -5px;
}
.m-b-n-sm {
    margin-bottom: -10px;
}
.m-b-n {
    margin-bottom: -15px;
}
.m-b-n-md {
    margin-bottom: -20px;
}
.m-b-n-lg {
    margin-bottom: -30px;
}
.m-b-n-xl {
    margin-bottom: -40px;
}

.space-15 {
    margin: 15px 0;
}
.space-20 {
    margin: 20px 0;
}
.space-25 {
    margin: 25px 0;
}
.space-30 {
    margin: 30px 0;
}

/* Text
------------------------------------*/
.title {
	border-bottom: 3px double #f6f6f6;
	margin-bottom: 10px;
}

.title h1, .title h2, .title h3, .title h4, .title h5, .title h6 {
	border-bottom: 5px solid #29a9df!important;
	display: inline-block;
	padding: 0 10px!important;
	margin: 0 15px -4px 15px!important;
	line-height: 25px;
}

.footer .title {
	border-bottom: 0px;	
	color: #f2f2f2;
	font-weight: bold;
	margin: 0 0 20px 0;
}

.footer .title  h1, .footer .title h2, .footer .title h3, .footer .title h4, .footer .title h5, .footer .title h6{ 
	color: #f2f2f2;	
	margin: 0 15px -4px 0px!important;
}

/* Background
------------------------------------*/
.bg-dark{
	background: #303030;
}


.bs-callout {
	padding: 20px;
	margin: 20px 0;
	border: 1px solid #eee;
	border-left-width: 5px;
	border-radius: 3px;
}
.bs-callout-danger {
	border-left-color: #d9534f;
}
.bs-callout-danger  h4 {
color: #d9534f;		
}

/* Loader
------------------------------------*/
.page-loader {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: visible;
	background: #ffffff url('/images/common/loader/loading.gif') no-repeat center center;
	z-index: 100000;
}

.panel-body-loading {
	position: relative;
	left: 0;
	top: 0;
	display: block;
	width: auto;
	height: 200px;
	overflow: visible;
	background: #ffffff url('/images/common/loader/loading-transparent-bg.gif') no-repeat center center;
	z-index: 100000;
}

/* Text
------------------------------------*/

article > h3.title {
	overflow: hidden;
	line-height: 28px;
	font-weight: 400;
	border: 0px;
	position: relative;
}

article > h3.title:after {
background: url(/images/common/bg_off.png) repeat;
content: "";
height: 5px;
margin-left: 10px;
position: absolute;
top: 12px;
width: 99%;
}

/* Lightbox
------------------------------------*/
.lightbox {
	cursor: pointer;	
}
/* Notification
------------------------------------*/
/* Error template */
.k-notification-error.k-group {
	background: rgba(100%,0%,0%,.7);
	color: #ffffff;
}
.notification-error {
	width: 300px;
	min-height: 100px;
	padding:10px;
}

.notification-error h3 {
	font-size: 1em;
	/*padding: 32px 10px 5px;*/
	
	color: #fff;
	font-size: 18px;	
}

.notification-error p {
	color: #fff;
}

.notification-error img {
	float: left;
	/*margin: 30px 15px 30px 30px;*/
	margin: 30px 15px 30px 10px;
}

/*Panel 
------------------------------------*/
.panel-upload > .panel-heading {
	color: #767676;
	background-color: #fff;
	border-color: #E7EAEC;	
	border-image: none;
	border-style: none none solid;
	border-width: 4px 0px 1px;		
	padding: 10px 15px;	
}

// List groups in panels
//
// By default, space out list group content from panel headings to account for
// any kind of custom content between the two.

.panel {
  	.tab-pane > .list-group {
    margin-bottom: 0;
    .list-group-item {
      border-width: 1px 0;
      border-radius: 0;
      &:first-child {
        border-top: 0;
      }
      &:last-child {
        border-bottom: 0;
      }
    }
    // Add border top radius for first one
    &:first-child {
      .list-group-item:first-child {
        .border-top-radius((@panel-border-radius - 1));
      }
    }
    // Add border bottom radius for last one
    &:last-child {
      .list-group-item:last-child {
        .border-bottom-radius((@panel-border-radius - 1));
      }
    }
  }
}
