
::-webkit-scrollbar {
width: 10px;
height: 10px; }

::-webkit-scrollbar-thumb {
background-color: rgba(0, 0, 0, 0.2);
height:50px;
-webkit-box-shadow: inset 1px 1px 0 rgba(0,0,0,0.10),inset 0 -1px 0 rgba(0,0,0,0.07); }



.layout * {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.unlayout * {
	-moz-box-sizing: none;
	-webkit-box-sizing: none;
	box-sizing: none;
}

/* body */
/* Naver nanumgothic font ---------------------- */
@font-face {
	font-family: "BM_NANUMGOTHIC";
	src: url('../fonts/nanumgothic.eot');
	src: local('☺'), url('../fonts/nanumgothic.woff') format('woff'), url('../fonts/nanumgothic.woff') format('truetype');
}


figure.img-full-width {
	width: 100%;
	height: 100%;
	margin-bottom: 0;
	overflow: auto;	
}

figure.img-full-width img {
	display: block;
	/*min-width: 100%;*/
	height: auto;
	position: absolute;
	left: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);	
}

img.img-full-width {
	height: auto;
	max-width: 100%;
}

img.img-full-height {
	width: auto;
	max-height: 100%;
}

/**

		.overlay.color9 a.btn-link, .overlay.color9 button.btn-link {
			color : #333;	
		}
		
		.overlay.color9 > a:hover, .overlay.color9 >  a:focus {	
			color : red;
			background-color: rgba( 91, 192, 222, 0.7 );
		}
**/		
/* Bootstrap customize --------------------- */
a.btn-link img {
	opacity: .6;
	max-height: 100%;
}

/**
.btn-img {
  float: left;
  font-size: 21px;
  font-weight: bold;
  line-height: 1;
  filter: alpha(opacity=60);
  opacity: .6;
}
.btn-img:hover,
.btn-img:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
  filter: alpha(opacity=50);
  opacity: .5;
}

button.btn-img {
  -webkit-appearance: none;
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
}
**/
.nav .open > a.btn ,
.nav .open > a.btn:hover,
.nav .open > a.btn:focus {
  background-color: rgba( 91, 192, 222, 0.7 );
 /* border-color: #428bca; */
}

/* Kendoui customize ----------------------- */
.k-button.k-upload-button {
	min-width: 120px;
}

.panel .k-button.k-upload-button {
	min-width: 120px; 
	float: right;
}

.panel .k-dropzone {
	border: 2px dashed #d4d4d4;
	background-color: #f7f7f7;
	position: relative;	
	text-align: center;
	padding: 34px 34px 40px 10px;
	-webkit-border-radius: 18px;
	-moz-border-radius: 18px;
	border-radius: 18px;
	margin: 20px 0 0 0;
}
		

/* Bootstrap customize---------------------- */
.jumbotron-page-header {
	margin-top: -20px;
	padding-top: 20px;
	padding-bottom: 20px;	
	-webkit-box-shadow: 0 2px 2px 0px #dddddd;
	-moz-box-shadow: 0 2px 2px 0px #dddddd;
	box-shadow: 0 1px 1px 0px #dddddd;	
}

.panel-body > .page-header { 
	padding-left: 5px;	
}

.bg-flat {
	background-color: #10c4b2 ;	
	color: #ffffff;
}

.bg-metro-black {
	background-color: #0e0e0e ;	
	color: #ffffff;
}

/*
.full-width-container {
	width:100%;
	padding-left: 15px;
	padding-right: 15px;
	margin-left: auto;
	margin-right: auto;		
}

.full-width-row {
	margin: 0 15px;
}
*/
.margin-top-minus-20 {
	margin-top: -20px;
}

.marginless-buttom {
	margin-buttom : 0px;
}

.margin-buttom-5 {
	margin: 0 0px 5px 0px;
}

.marginless {
	margin:0 0px;
}

.paddingless {
	padding:0 0px;
}

.alert-flat {
	margin-bottom : 0px;
	padding : 10px;	
}

.panel-flat {
	margin-bottom : 0px;
	padding : 0px;		
}

.panel-dark {
	border-color: rgb(19,19,20);
	background-color: rgba(19,19,20, 0.8);
	font-size: 10pt;
}

.panel-dark>.panel-heading {
	color: #fff;
	background-color: rgba(19,19,20, 0.9);
	border-color: #060607;
}

.panel-dark>.panel-heading+.panel-collapse .panel-body {
border-top-color: rgb(19,19,20);
color: #FFF;
}
.panel-title { 
	font-size : 11pt;	
}

.panel-border-thick {
	border: 6px solid rgba(0,0,0,0.1);
}

.panel-flat div.panel-body {
	padding : 5px;			
}

.thumbnail-flat {
	margin-bottom : 0px;
	padding: 0px ;
	border: 6px solid rgba(0,0,0,0.1);
}

.full-width-column {
	padding: 0 0px;
	margin:0 0px;
}

.full-width-column-5 {
	padding: 0 0px;
	margin:0 0px;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: "나눔 고딕", "BM_NANUMGOTHIC";
}

.modal-footer {
	/*background-color: #F5F5F5;	*/
}

.page-header {
	margin: 15px 0 15px;	
	padding-bottom: 0px;
	padding-left: 30px;
}

.tab-content-borderless {
	background-color : #FFFFFF;	
	padding : 0 5px 5px 5px;
	border-bottom:  0px solid #dddddd;
	border-left:  0px solid #dddddd;
	border-right:  0px solid #dddddd;
	min-height: 100px;
}

.borderless {
	border-bottom:  0px solid #dddddd;
	border-left:  0px solid #dddddd;
	border-right:  0px solid #dddddd;
	border-top:  0px solid #dddddd;
}

.shadowless {
	border-radius: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

/** personalized section  */


nav.personalized-navbar {
	/* height: 120px; */
	/*margin-top: 0;
	position : relative
	height: 43px;
	padding : 5px;
	margin-bottom : 10px;
	*/
	background-color: rgba(19,167,199, 0.7) ; /*#13A7C7; */
	border-radius : 0px;
	top: 0;
	right: 0;
	left: 0;
	border : 0px;
	position : fixed;
	overflow: hidden;
	min-height: 50px;
	z-index: 1000;	
	/*
	left: 0;
	right: 0;
	border : 0px;

	margin-top: -20px;
	position : fixed;
	overflow: hidden;
	min-height: 51px;
	z-index: 1000;	*/
}

.personalized-navbar > li > a:hover  {
	color : red;
	background-color : transparent;	
}

.personalized-navbar.up {
	margin-top: 0px;
	top: 0;
}
	
nav .personalized-controls-trigger {
	width: 35px;
	position: absolute;
	right: 0px;
	overflow: hidden;
	border: none;
	color: #FFFFFF;
	outline: none;
}

nav.personalized-navbar  .navbar-btn {
	margin-top: 4px;
	margin-bottom: 4px;
}


header.personalized-header {
	/* height: 120px; */
	/*margin-top: 0;*/
	height: 43px;
	padding : 5px;
	margin-bottom : 10px;
	background-color: rgba(19,167,199, 0.7) ; /*#13A7C7; */
	z-index: 1000px;
}

header .personalized-controls-trigger {
	width: 35px;
	position: absolute;
	right: 0px;
	overflow: hidden;
	border: none;
	color: #FFFFFF;
	outline: none;
}

.personalized-controls-trigger  i {
	line-height: 1.3;
}

/** color */

body.color1 , div.color1, ul.color1 {
	background: #3498db;			
}

body.color2, div.color2, ul.color2 {
	background: #52be7f;	
}

body.color3, div.color3, ul.color3 {
	background: #e74c3c;	
}

body.color4, div.color4, ul.color4 {
	background: #F7F7F7;	
}

body.color5, div.color5, ul.color5 {
	background: #BDBEC2;	
}

body.color6, div.color6, ul.color6 {
	background: #C7C7CC;	
}

body.color7, div.color7, ul.color7 {
	background: #007AFF;	
}

body.color8, div.color8, ul.color8 {
	background: #34AADC;	
}

body.color9, div.color9, ul.color9 {
	background: #1F1F21;	
}

body.color10, div.color10, ul.color10 {
	background: #4A4A4A;	
}

body.color11, div.color11, ul.color11 {
	background: #2B2B2B;	
}


section.sky , div.sky {
	background-color: #5bc0de;		
}

section.green, div.green {
	background-color: #c0de5b;	
}
section.grey , div.grey {
background-color: #e7ebef;
}

section.blue , div.blue {
background-color: #13A7C7;
}

/** icons & buttons */
.btn-close {
	width: 80px;
	height: 80px;
	position: absolute;
	right: 0px;
	top: 0px;
	overflow: hidden;
	border: none;
	background: url(/images/cross.png) no-repeat center center;
	text-indent: 200%;
	color: transparent;
	outline: none;
	z-index: 2050;
}


/** Effect  -------------- **/

.lb-overlay{
	width: 0px;
	height: 0px;
	position: fixed;
	overflow: hidden;
	left: 0px;
	top: 0px;
	padding: 0px;
	z-index: 2000;
	/*text-align: center;*/
	background: rgb(71, 163, 218);
	background: -moz-radial-gradient(center, ellipse cover, rgba(255,255,255,0.56) 0%, rgba(71, 163, 218,1) 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(255,255,255,0.56)), color-stop(100%,rgba(71, 163, 218,1)));
	background: -webkit-radial-gradient(center, ellipse cover, rgba(255,255,255,0.56) 0%,rgba(71, 163, 218,1) 100%);
	background: -o-radial-gradient(center, ellipse cover, rgba(255,255,255,0.56) 0%,rgba(71, 163, 218,1) 100%);
	background: -ms-radial-gradient(center, ellipse cover, rgba(255,255,255,0.56) 0%,rgba(71, 163, 218,1) 100%);
	background: radial-gradient(center, ellipse cover, rgba(255,255,255,0.56) 0%,rgba(71, 163, 218,1) 100%);
}
/*
.lb-overlay > div {
	position: relative;
	color: rgba(27,54,81,0.8);
	opacity: 0;
	filter: alpha(opacity=0); 
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(opacity=0)"; 
	width: 565px;
	margin: 10px auto 0px auto;
	text-shadow: 0px 1px 1px rgba(255,255,255,0.6);
	-webkit-transition: opacity 0.3s linear 1.3s;
	-moz-transition: opacity 0.3s linear 1.3s;
	-o-transition: opacity 0.3s linear 1.3s;
	-ms-transition: opacity 0.3s linear 1.3s;
	transition: opacity 0.3s linear 1.3s;
}

.lb-overlay div h3,
.lb-overlay div p{
	padding: 0px 20px;
	width: 200px;
	height: 60px;
}
.lb-overlay div h3{
	font-size: 36px;
	float: left;
	text-align: right;
	border-right: 1px solid rgba(27,54,81,0.4);
}
.lb-overlay div h3 span,
.lb-overlay div p{
	font-size: 16px;
	font-family: Constantia, Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif;
	font-style: italic;
}
.lb-overlay div h3 span{
	display: block;
	line-height: 6px;
}
.lb-overlay div p{
	text-align: left;
	float: left;
	width: 260px;
}
*/
.lb-overlay a.lb-overlay-close {
	width: 80px;
	height: 80px;
	position: absolute;
	right: 20px;
	top: 20px;
	overflow: hidden;
	border: none;
	background: url(/images/cross.png) no-repeat center center;
	text-indent: 200%;
	color: transparent;
	outline: none;
	z-index: 100;
}


.lb-overlay a.lb-close{
	background: rgba(27,54,81,0.8);
	z-index: 1001;
	color: #fff;
	position: absolute;
	top: 43px;
	left: 50%;
	font-size: 15px;
	line-height: 26px;
	text-align: center;
	width: 50px;
	height: 23px;
	overflow: hidden;
	margin-left: -25px;
	opacity: 0;
	filter: alpha(opacity=0); /* internet explorer */
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(opacity=0)"; /*IE8*/
	-webkit-box-shadow: 0px 1px 2px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 1px 2px rgba(0,0,0,0.3);
	box-shadow: 0px 1px 2px rgba(0,0,0,0.3);
	-webkit-transition: opacity 0.3s linear 1.2s;
	-moz-transition: opacity 0.3s linear 1.2s;
	-o-transition: opacity 0.3s linear 1.2s;
	-ms-transition: opacity 0.3s linear 1.2s;
	transition: opacity 0.3s linear 1.2s;
}
.lb-overlay img{
	/* height: 100%; For Opera max-height does not seem to work */
	max-height: 100%;
	
	position: relative;
	-webkit-box-shadow: 1px 1px 4px rgba(0,0,0,0.3);
	-moz-box-shadow: 1px 1px 4px rgba(0,0,0,0.3);
	box-shadow: 0px 2px 7px rgba(0,0,0,0.2);
	float: left;
}
.lb-overlay:target {
	width: auto;
	height: auto;
	bottom: 0px;
	right: 0px;
	padding: 10px;/*80px 100px 120px 100px;*/
}
.lb-overlay:target img {
	-webkit-animation: fadeInScale 1.2s ease-in-out;
	-moz-animation: fadeInScale 1.2s ease-in-out;
	-o-animation: fadeInScale 1.2s ease-in-out;
	-ms-animation: fadeInScale 1.2s ease-in-out;
	animation: fadeInScale 1.2s ease-in-out;
}
.lb-overlay:target a.lb-close,
.lb-overlay:target > div{
	opacity: 1;
	filter: alpha(opacity=99); /* internet explorer */
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(opacity=99)"; /*IE8*/
}


section.scale-down-effect {
	-webkit-transform: scale(0.5);
	-moz-transform: scale(0.5);
	-ms-transform: scale(0.5);
	transform: scale(0.5);
	opacity: 0;
}

section.show-effect {
	z-index: 1000;
	opacity: 1;
	-webkit-transform: translateY(-100%);
	-webkit-transition: -webkit-transform 0.5s ease-in-out;
	-moz-transform: translateY(-100%);
	-moz-transition: -moz-transform 0.5s ease-in-out;
	transform: translateY(-100%);
	transition: transform 0.5s ease-in-out;
	-ms-transform: translateY(-100%);
}

section.hide-effect {
	opacity: 0;
	-webkit-transition: -webkit-transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
	-webkit-transform: translateY(-100%) scale(0.5);
	-moz-transition: -moz-transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
	-moz-transform: translateY(-100%) scale(0.5);
	transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
	transform: translateY(-100%) scale(0.5);
	-ms-transform: translateY(-100%) scale(0.5);
	z-index: 0;
}



/** Main body ------------------------------------ */
.shadowed-text {
	text-shadow: 0px 1px 1px #4d4d4d;
	color: #222;
}

.embossed-text{
    text-shadow: -1px -1px 1px #fff, 1px 1px 1px #000;
    /** color: #9c8468;*/
    opacity: 0.3;
}

body {
	padding: 0;
	margin: 0;
	font-family: "나눔 고딕", "BM_NANUMGOTHIC";
	font-weight: normal;
	font-style: normal;
	position: relative;
}

body.noscroll{
	position:fixed;
	overflow:hidden;
}

.bg-gray{
	background-color: #E5E5E5;	
}

.scrollable {
	left:0px;
	top:0px;
	right:0px;
	bottom:0px;
	#position:absolute;
	overflow-x:hidden;
	overflow-y:auto;
}


.panel-header-actions {
	float: right;
	padding-top:2px;
}

.panel-footer-primary {
	padding: 10px 15px;
	background-color: #428bca;
	border-top: 1px solid #428bca;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;	
}

/** block */
.round-block  {
position: relative;
margin: 0px 0;
padding: 15px 0 0;
background-color: #fff;
border: 1px solid #ddd;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
}

/** forms */
textarea {
	font-family: "나눔 고딕", "BM_NANUMGOTHIC";	
}

input {
	font-family: "나눔 고딕", "BM_NANUMGOTHIC";	
}

a.k-button:hover {	
	text-decoration:none;
}

a.k-link:hover {	
	text-decoration:none;
}

/** SPACE */
.blank-top-0 {
	padding-top: 0px;	
}

.blank-bottom-0 {
	padding-bottom: 0px;	
}

.blank-top-5 {
	padding-top: 5px;	
}
.blank-top-10 {
	padding-top: 10px;	
}
.blank-top-15 {
	padding-top: 15px;	
}
.blank-bottom-5 {
	padding-buttom: 5px;	
}

.blank-top-45{
	padding-top : 45px;
}

.blank-top-50{
	padding-top : 50px;
}

.blank-top-60 {
	padding-top : 60px;
}

.blank-top-66 {
	padding-top : 66px;
}
			
			
.blank-space-5{
	padding: 5px;	
}

.blank-space-0{
	padding: 0px;	
}

.blank-margin-0{
	margin: 0px;	
}


.space-top {
	padding-top: 5px;
}



.no-margin-bottom {
	margin-bottom:0;
}

.bottomspace {
	padding-bottom: 5px;
}

.block-space-0 {
	padding: 0px;	
}

.block-space-1 {
	padding: 1px;	
}

.block-space-5 {
	padding: 5px;	
}

.block-space-10 {
	padding: 10px;	
}


.border-buttom-rounded {
	border-bottom-right-radius: 4px;	
	border-bottom-left-radius: 4px;	
}

.box {
	padding: 2px;
}

.big-box {
	padding: 5px;
}

.gray {
	background-color: #F5F5F5;
}

.white {
	background-color: #FFFFFF;
}


.gray-big-box {
	padding: 5px;
	background-color: #F5F5F5;
}

.gray-box {
	background-color: #F5F5F5;
	padding: 2px;
}

.topless {
	padding-top: 0px;
}

.bottomless {
	padding-bottom: 0px;
	boder-bottom-width: 0px;
}

.boder-bottomless-box {
	padding: 5px;
	border-style: solid;
	border-color: #dadada;
	border-width: 1px 1px 0;
}

.bottomspace {
	padding-bottom: 5px;
}

.leftless {
	padding-left: 0px;
}

.rightless {
	padding-right: 0px;
}

.light-gray {
	background-color: #F5F5F5;
}

#mainContent {
	margin-top: 22px;
	margin-bottom: 11px;
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 11px;
	border-bottom: 1px solid #eee;
	overflow: hidden;
}


/* ------------------------------- */
/* TOPBAR                             */
/* ------------------------------- */
/**
#account {
	position: absolute;
	right: 5px;
	top: 0
}

#account-button {
	display: block;
	position: relative;
	line-height: 44px;
	padding: 3px 25px 3px 0;
	width: 36px;
	color: #303233;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
	z-index: 9;
	height: 50px;
	margin: 0;
	cursor: pointer
}

#account-button>i {
	position: absolute;
	top: 24px;
	right: 5px;
	display: block;
	color: rgba(0, 0, 0, 0.25);
	background: url(/images/common/header/dropdown.png);
	width: 7px;
	height: 6px
}

#account-button.dropped>i {
	color: rgba(0, 0, 0, 0.45)
}

@media ( max-device-width : 640px) {
	#account-button {
		height: 43px;
		padding: 0 25px 0 0
	}
}

#account-button .avatar-container {
	position: relative;
	display: block;
	height: 28px;
	width: 28px;
	margin: 9px 9px 0 17px;
	border-radius: 2px 2px 0 0;
	background: #fff
}

#account-button.dropped .avatar-container {
	margin: 3px 9px 0 11px;
	border: 6px solid #fff;
	border-right-width: 15px;
	border-bottom-width: 4px;
	-webkit-box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.1), 1px 0 0	rgba(0, 0, 0, 0.15), -1px 0 0 rgba(0, 0, 0, 0.15);
	box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.1), 1px 0 0 rgba(0, 0, 0, 0.15),-1px 0 0 rgba(0, 0, 0, 0.15)
}

#account-button .avatar-container:after {
	left: 0;
	top: 0;
	height: 28px;
	width: 28px;
	position: absolute;
	z-index: 9;
	content: "";
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.8)
}

#account-button .avatar-wrapper {
	height: 28px;
	width: 28px;
	display: inline-block;
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
	border-bottom-right-radius: 2px;
	border-bottom-left-radius: 2px;
	box-shadow: inset 0px 0px 1px rgba(0,0,0,0.5);
	background: #d4d5d9 url(/images/common/header/placeholder-user.png) 50% 4px no-repeat;
	background-attachment: scroll;
	background-repeat: no-repeat;
	background-position-x: 50%;
	background-position-y: 4px;
	background-size: 28px 27px;
	background-origin: padding-box;
	background-clip: border-box;
	background-color: rgb(212, 213, 217);
}

#account-button .avatar-wrapper.loaded {
	-webkit-box-shadow: none;
	box-shadow: none
}

#account-button .avatar-wrapper img {
	display: block;
	height: 28px;
	width: 28px;
	border: 0;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
}

#account-button img.loading {
	visibility: hidden
}

#account-dropdown {
	display: none;
	position: absolute;
	width: 200px;
	top: 44px;
	right: 1px;
	background: #fff;
	border-radius: 2px 0 2px 2px;
	-webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.44), 0 1px 2px rgba(0, 0, 0, 0.22);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0.44), 0 1px 2px rgba(0, 0, 0, 0.22);
	border: none
}

@media ( max-device-width : 640px) {
	#account-dropdown {
		top: 40px
	}
}

#account-dropdown ul {
	margin: 0;
	padding: 5px 0
}

#account-dropdown li.text {
	display: block;
	margin: 0;	
	padding: 3px 0 3px 10px;
	font-size: 11px;
	line-height: 16px;
	color: #A2A3A3;
	text-align: left;
	text-shadow: none;
	text-decoration: none;
	outline: none
}


#account-dropdown li a {
	display: block;
	margin: 0;
	padding: 3px 0 3px 10px;
	font-size: 11px;
	line-height: 16px;
	color: #A2A3A3;
	text-align: left;
	text-shadow: none;
	text-decoration: none;
	outline: none
}

#account-dropdown li:hover a {
	color: #6A6B6D
}

#account-dropdown li .icon {
	float: left;
	height: 14px;
	width: 14px;
	margin: 1px 7px 0 0;
	background: url( /images/common/header/icons.png ) no-repeat;
	background-size: 28px 56px;
	vertical-align: text-bottom
}

#account-dropdown li.video .icon {
	background-position: 0 0
}

#account-dropdown li.video:hover .icon {
	background-position: -14px 0
}

#account-dropdown li.settings .icon {
	background-position: 0 -14px
}

#account-dropdown li.settings:hover .icon {
	background-position: -14px -14px
}

#account-dropdown li.shutdown .icon {
	background-position: 0 -28px
}

#account-dropdown li.shutdown:hover .icon {
	background-position: -14px -28px
}

#account-dropdown li.logout .icon {
	background-position: 0 -42px
}

#account-dropdown li.logout:hover .icon {
	background-position: -14px -42px
}

#account-dropdown li.shutdown {
	display: none
}

.jolios #account-dropdown li.shutdown {
	display: block
}

.jolios #account-dropdown li.logout {
	display: none
}

body.offline #account-dropdown li.logout {
	display: none
}

body.offline:not (.jolios ) #account {
	display: none
}

#account-dropdown li a:active {
	color: #555;
	background: #f0f0f1;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ebedef), to(#f0f0f1));
	background: -webkit-linear-gradient(top, #ebedef, #f0f0f1);
	background: -moz-linear-gradient(top, #ebedef, #f0f0f1);
	background: -o-linear-gradient(top, #ebedef, #f0f0f1);
	background: -ms-linear-gradient(top, #ebedef, #f0f0f1);
	background: linear-gradient(to bottom, #ebedef, #f0f0f1);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ebedef', endColorstr='#f0f0f1', GradientType=0);
	-webkit-box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.05)
}

@media screen and (max-width: 1023px) {
	#wrapper {
		left: 0
	}
	body:not (.no-sidebar ) #wrapper.translate {
		-webkit-transform: translateX(221px);
		-moz-transform: translateX(221px);
		-o-transform: translateX(221px);
		-ms-transform: translateX(221px);
		transform: translateX(221px)
	}
	#wrapper #loading,#wrapper #topbar {
		border-top-left-radius: 0
	}
	#wrapper #content,#wrapper #desktop {
		border-bottom-left-radius: 0
	}
	#wrapper.translate #loading,#wrapper.translate #topbar {
		border-top-left-radius: 4px
	}
	#wrapper.translate #content,#wrapper.translate #desktop {
		border-bottom-left-radius: 4px
	}
}

*/

/* Tables */

/* Caption Common Style */

/*------------------------------------------------*/
/* jGrowl MESSAGE BOX SECTION START       */
/*------------------------------------------------*/
div.jGrowl {
	padding: 10px;
	z-index: 9999;
	color: #fff;
	font-size: 12px;
}

/** Special IE6 Style Positioning **/
div.ie6 {
	position: absolute;
}

div.ie6.top-right {
	right: auto;
	bottom: auto;
	left: expression((         0 -         jGrowl.offsetWidth +         (     
		   document.documentElement.clientWidth ?     
		   document.documentElement.clientWidth :       
		 document.body.clientWidth)+  
		  (   
		 ignoreMe2=     document.documentElement.scrollLeft?     document.documentElement.scrollLeft:
		 document.body.scrollLeft))+     'px');
	top: expression((         0 +         (         ignoreMe =      
		  document.documentElement.scrollTop ?      
		  document.documentElement.scrollTop :         document.body.scrollTop
		))+ 		 
		 'px');
}

div.ie6.top-left {
	left: expression((         0 +         (         ignoreMe2 =     
		   document.documentElement.scrollLeft ?     
		   document.documentElement.scrollLeft :        
		document.body.scrollLeft))+  
		  'px');
	top: expression((         0 +         (         ignoreMe =      
		  document.documentElement.scrollTop ?      
		  document.documentElement.scrollTop :         document.body.scrollTop
		))+ 		 
		 'px');
}

div.ie6.bottom-right {
	left: expression((         0 -         jGrowl.offsetWidth +         (     
		   document.documentElement.clientWidth ?     
		   document.documentElement.clientWidth :       
		 document.body.clientWidth)+  
		  (   
		 ignoreMe2=     document.documentElement.scrollLeft?     document.documentElement.scrollLeft:		
		 document.body.scrollLeft))+     'px');
	top: expression((         0 -         jGrowl.offsetHeight +         (     
		   document.documentElement.clientHeight ?     
		   document.documentElement.clientHeight :      
		  document.body.clientHeight)+   
		 (     ignoreMe=     document.documentElement.scrollTop?     document.documentElement.scrollTop:		
		 document.body.scrollTop))+     'px');
}

div.ie6.bottom-left {
	left: expression((         0 +         (         ignoreMe2 =     
		   document.documentElement.scrollLeft ?     
		   document.documentElement.scrollLeft :        
		document.body.scrollLeft))+  
		  'px');
	top: expression((         0 -         jGrowl.offsetHeight +         (     
		   document.documentElement.clientHeight ?     
		   document.documentElement.clientHeight :      
		  document.body.clientHeight)+   
		 (     ignoreMe=     document.documentElement.scrollTop?     document.documentElement.scrollTop:		
		 document.body.scrollTop))+     'px');
}

div.ie6.center {
	left: expression((         0 +         (         ignoreMe2 =     
		   document.documentElement.scrollLeft ?     
		   document.documentElement.scrollLeft :        
		document.body.scrollLeft))+  
		  'px');
	top: expression((         0 +         (         ignoreMe =      
		  document.documentElement.scrollTop ?      
		  document.documentElement.scrollTop :         document.body.scrollTop
		))+ 		 
		 'px');
	width: 100%;
}

/** Normal Style Positions **/
div.jGrowl {
	position: absolute;
}

body>div.jGrowl {
	position: fixed;
}

div.jGrowl.top-left {
	left: 0px;
	top: 0px;
}

div.jGrowl.top-right {
	right: 0px;
	top: 0px;
}

div.jGrowl.bottom-left {
	left: 0px;
	bottom: 0px;
}

div.jGrowl.bottom-right {
	right: 0px;
	bottom: 0px;
}

div.jGrowl.center {
	top: 0px;
	width: 50%;
	left: 25%;
}

/** Cross Browser Styling **/
div.center div.jGrowl-notification,div.center div.jGrowl-closer {
	margin-left: auto;
	margin-right: auto;
}

div.jGrowl div.jGrowl-notification,div.jGrowl div.jGrowl-closer {
	background-color: #000;
	opacity: .85;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=85)";
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=85);
	zoom: 1;
	width: 235px;
	padding: 10px;
	margin-top: 5px;
	margin-bottom: 5px;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 1em;
	text-align: left;
	display: none;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

div.jGrowl div.jGrowl-notification {
	min-height: 40px;
}

div.jGrowl div.jGrowl-notification div.jGrowl-header {
	font-weight: bold;
	font-size: .85em;
}

div.jGrowl div.jGrowl-notification div.jGrowl-close {
	z-index: 99;
	float: right;
	font-weight: bold;
	font-size: 1em;
	cursor: pointer;
}

div.jGrowl div.jGrowl-closer {
	padding-top: 4px;
	padding-bottom: 4px;
	cursor: pointer;
	font-size: .9em;
	font-weight: bold;
	text-align: center;
}

/** Hide jGrowl when printing **/
@media print {
	div.jGrowl {
		display: none;
	}
}

/*------------------------------------------------*/
/*  Image Caption                                      */
/*------------------------------------------------*/
section figure{
	float: center;
	clear: both;
	position: relative;
	overflow: hidden;
	margin: 0 auto;
    padding: 15px 0 0 0;
    font-size: 15px;
}

section figure img {
	vertical-align: bottom;
}


section figure figcaption {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0,0,0,0.4);
	text-align: left;
	color: #fff; 
	padding-left: 10px;
}

div figure {
	max-width: 100%;
	float: center;
	clear: both;
	position: relative;
	overflow: hidden;
	margin: 0 auto;
    padding: 0 0 0 0;
    font-size: 15px;
}

div figure img {
	vertical-align: bottom;
}

div figure figcaption {
	display: none ;
	opacity: 0;	
	-moz-border-radius-bottomright: 0px;
	border-bottom-right-radius: 0px;
	-moz-border-radius-topright: 0px;
	border-top-right-radius: opx;	
}

figcaption .pager  {
	margin : 0 0 ;
}

figcaption .figure-actions  {
	margin : 0 0 ;
}

figcaption .pager li > a, figcaption .pager li > span {
	display: inline-block;
	padding: 5px 14px;
	background-color: transparent;
	border: 0px solid #2b2b2b;
	border-radius: 5px;
	color : #4d4d4d;
}

figcaption .pager li > a:hover {
	text-decoration: none;
	background-color: transparent;
	color: #000;
}

div figure:hover figcaption {
	opacity: 1;	
	display: block ;
	buttom: 0;
	right: 0;
	text-align: left;	
	padding-left: 10px;	
	background-color: rgba(0,0,0,0.6);
	position: absolute;
	color: #fff;
	z-index: 100;
		-webkit-transition: all 300ms ease-out;
		-moz-transition: all 300ms ease-out;
		-o-transition: all 300ms ease-out;
		-ms-transition: all 300ms ease-out;	
		transition: all 300ms ease-out;
	left: 0;	
	padding:5px;
	
}
/* ---------------------------------------- */
/* BACKGROUND IMAGE SLIDE SHOW */
/* ---------------------------------------- */
.cbp-bislideshow {
	list-style: none;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: -1;
	padding: 0;
	margin: 0;
}

.cbp-bislideshow li {
	position: absolute;
	width: 101%;
	height: 101%;
	top: -0.5%;
	left: -0.5%;
	opacity: 0;
	-webkit-transition: opacity 1s;
	-moz-transition: opacity 1s;
	transition: opacity 1s;
}

/* If background-size supported we'll add the images to the background of the li */

.backgroundsize .cbp-bislideshow li {
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	background-position: center center;
}

/* ...and hide the images */
.backgroundsize .cbp-bislideshow li img {
	display: none;
}

.cbp-bislideshow li img {
	display: block;
	width: 100%;
}

.cbp-bicontrols {
	position: fixed;
	width: 300px;
	height: 100px;
	margin: -50px 0 0 -150px;
	top: 50%;
	left: 50%;
}

.cbp-bicontrols span {
	float: left;
	width: 100px;
	height: 100px;
	position: relative;
	cursor: pointer;
}

.cbp-bicontrols span:before {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	text-align: center;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 100px;
	font-size: 80px;
	color: #fff;
	-webkit-font-smoothing: antialiased;
	opacity: 0.7;
}

.cbp-bicontrols span:hover:before {
	opacity: 1;
}

.cbp-bicontrols span:active:before {
	top: 2px;
}

span.cbp-biplay:before {
	content: "\f04b";
}

span.cbp-bipause:before {
  content: "\f04c";
}

span.cbp-binext:before {
	content: "\f04e";
}

span.cbp-biprev:before {
	content: "\f04a";
}

.cbp-bicontrols span.cbp-binext {
	float: right;
}

/* Fallback */

.no-js.no-backgroundsize .cbp-bislideshow li:first-child {
	opacity: 1;
}

.no-js.backgroundsize .cbp-bislideshow li:first-child img {
	display: block;
}


/* .splitlayout */

.splitlayout {
	position: relative;
	overflow-x: hidden;
	min-height: 100%;
	width: 100%;
}

/* Intro sides */
.splitlayout-side {
	top: 0;
	height: 100%;
	position: absolute;
	
	/*text-align: center;
		width: 50%;
	top: 0;
	z-index: 100;
	width: 50%;
	height: 100%;
	-webkit-backface-visibility: hidden;*/
}

.splitlayout-side-body {
	padding-top: 100px;
	min-width: 350px;
}

.splitlayout-side-left {
	left: 0;
	color: #fff;
	width: 100%;
	/* avoid gap outline: 1px solid #47a3da;  */
}

.splitlayout-side-right {
	right: 0;
	color: #47a3da;
	min-width: 350px;
	/* avoid gap outline: 1px solid #fff;  */
}
