@CHARSET "utf-8";

.morphing {
width: 200px;
min-height: 40px;
background: #f1f1f1;
position: absolute;
z-index: 10000;
top: 50px;
right: 50px;
-webkit-transform-origin: 100% 0;
transform-origin: 100% 0;
-webkit-transition-property: min-height, width, top, right;
transition-property: min-height, width, top, right;
-webkit-transition-duration: 0.5s;
transition-duration: 0.5s;
-webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
transition-timing-function: cubic-bezier(0.7,0,0.3,1);
}

.morphing-content {
	/*
color: #333;
margin-top: 4.5em;
width: 100%;
height: 0;
overflow: hidden;
padding: 0 10.5%;
background: #f1f1f1;
position: absolute;
pointer-events: none;
*/
pointer-events: none;
opacity: 0;
overflow: hidden;
width: 100%;
height: 0;
}

.morphing.open .morphing-content {
opacity: 1;
height: auto;
/*
-webkit-transition: opacity 0.3s 0.5s;
transition: opacity 0.3s 0.5s;
*/
/*
height: auto;
*/
overflow: visible;
pointer-events: auto;
-webkit-transition: opacity 0.3s 0.5s;
transition: opacity 0.3s 0.5s;

}



.morphing.open {
width: 100%;
min-height: 100%;
top: 0px;
right: 0px;
}
/**
.panel .morphing.open {
	right: 5px;
}
*/


.morphing .btn-close {
	top: 19px;
	right: 15px;
}
