@CHARSET "utf-8";
/*Footer-v1
------------------------------------*/
.footer-global {
	background: #f2f2f2;	
	width: 100%;
	overflow: hidden;	
}

.footer-global .footer {
	padding: 40px 0;
	border-top: 1px solid #e3e3e3;
	font-size: 1.125em;
	line-height: 1.125;
	color:#999
}

.footer-v1 .footer p {
	color: #eee;
}

.footer-global .footer h2 {
	color: #eee;
	font-size: 18px;
	font-weight: 200;
}

/*Link List*/
.footer-global .link-list li {
	border-top: solid 1px #353535;
}

.footer-global address,.footer-global .link-list a,.footer-global .link-list i {
	color: #eee;
}

.footer-global address {
	line-height: 23px;
}

/*Dotted Map*/
.footer-global .footer .map-img {
	background: url(../../img/map-img.png) 5px 60px no-repeat;
}

/*Copyright*/
.footer-global .copyright {
	background: #222;
	border-top: none;
	padding: 10px 0 5px;
}

.footer-global .copyright p {
	color: #eee;
	margin-top: 14px;
}

.footer-global .copyright a {
	margin: 0 2px;
}

.footer-global .footer-socials {
	margin-top: 12px;
	text-align: right;
}

.footer-global .footer-socials li a {
	color: #777;
	font-size: 16px;
}

@media ( max-width : 991px) {
	.footer-global .copyright,.footer-v1 .footer-socials {
		text-align: left;
	}
}