@CHARSET "UTF-8";
/**
 admin pages css
*/

.page-details .details-full-name {
	font-size: 15px;
	font-weight: 300;
	line-height: 40px;
	padding-top: 15px;
	padding-bottom: 20px;
	position: relative;
	border-bottom-width: 2px;
	margin-bottom: 0;
	text-align: center;
}

.page-details .details-content .tab-content {
	background: #fff;
}

.page-details .details-block {
	margin-bottom: 18px;
	text-align: center;
}

.page-details .details-photo {
	padding: 6px;
	display: inline-block;
	margin-bottom: 10px;
	border-radius: 999999px;
}

.page-details .details-photo img {
	display: block;
	max-width: 100%;
	border-radius: 999999px;
}


.page-details .left-col>.panel .panel-heading {
	padding-left: 10px;
	padding-right: 10px;
}

.page-details .left-col>.panel .panel-body {
	padding: 10px;
	padding-bottom: 0;
}

.page-details  .left-col .list-group-item {
	background: none !important;
	border: none;
	padding-bottom: 0;
	margin-top: 7px;
	padding-left: 10px;
	padding-right: 10px;
}

.page-details .details-skills .label {
	display: block;
	float: left;
	margin-right: 4px;
	margin-bottom: 4px;
}

.page-details .details-list-icon {
	width: 24px;
	text-align: center;
	font-size: 14px;
}

.page-details .tl-entry:before,.page-details .tl-header,.page-details .tl-icon
	{
	box-shadow: 0 0 0 4px #fff !important;
}

.page-details .widget-followers {
	margin: -20px;
}

.page-details .widget-followers .follower {
	padding: 13px 20px;
}

.page-details  .details-content-hr {
	margin-top: 30px;
	margin-bottom: 30px;
}


@media ( min-width :768px) {
	.page-details .left-col {
		float: left;
		width: 220px;
	}
	.page-details .right-col {
		overflow: hidden;
		padding-left: 20px;
	}
	.page-details .details-content {
		margin-top: 0;
	}
	.page-details .details-full-name {
		padding-left: 240px;
		padding-bottom: 50px;
		text-align: left;
	}
	.page-details .details-row {
		margin-top: -36px;
	}
	.page-details .details-block {
		margin-top: -70px;
	}
	.details-content-hr {
		display: none;
	}
}


.page-profile .profile-block {
	margin-bottom: 18px;
	text-align: center;
}

@media (min-width: 768px) {
	.page-profile .profile-row {
		margin-top: -36px;
	}	
	.page-profile .left-col {
		float: left;
		width: 220px;
	}	

	.page-profile .right-col {
		overflow: hidden;
		padding-left: 20px;
	}

	.page-profile .profile-block {
	margin-top: -70px;
	}
}

.page-profile .profile-photo {
	padding: 6px;
	display: inline-block;
	margin-bottom: 10px;
	border-radius: 999999px;
}

.page-profile .profile-photo img {
	display: block;
	max-width: 100%;
	border-radius: 999999px;
}

.page-profile .profile-content-hr {
	margin-top: 30px;
	margin-bottom: 30px;
}