@CHARSET "UTF-8";


#personalized-controls {
	position: absolute;
	top: 50px;
	left: 0;
	min-height: 300px;
	padding: 10px;
	width: 100%;
	z-index: 1000;
	overflow: hidden;
	background-color: rgba(91, 192, 222, 0.8)
}

#personalized-controls-section {
	margin-top: 0px;
	padding: 0px;
}

#personalized-controls-section.cbp-spmenu-vertical {
	width: 565px;
}

#personalized-controls-section.cbp-spmenu-right {
	right: -565px;
	z-index: 2000;
}

#personalized-controls-section.cbp-spmenu-right.cbp-spmenu-open {
	right: 0px;
	overflow-x: hidden;
	overflow-y: auto;
}

@media ( max-width : 768px ) {
	#personalized-controls-section.cbp-spmenu-vertical {
		width: 100%;
	}
	#personalized-controls-section.cbp-spmenu-right {
		right: -100%;
	}
}

.cbp-spmenu {
	position: fixed;
	background: #ffffff;
}

.cbp-spmenu-vertical {
	width: 240px;
	height: 100%;
	top: 0;
	z-index: 1000;
}

.cbp-spmenu-horizontal {
	width: 100%;
	height: 150px;
	left: 0;
	z-index: 1000;
	overflow: hidden;
}

.cbp-spmenu-left {
	left: -240px;
}

.cbp-spmenu-right {
	right: -240px;
}

.cbp-spmenu-left.cbp-spmenu-open {
	left: 0px;
}

.cbp-spmenu-right.cbp-spmenu-open {
	right: 0px;
}

.cbp-spmenu-top {
	top: -150px;
}

.cbp-spmenu-bottom {
	bottom: -150px;
}

.cbp-spmenu-top.cbp-spmenu-open {
	top: 0px;
}

.cbp-spmenu-bottom.cbp-spmenu-open {
	bottom: 0px;
}

/* Push classes applied to the body */

.cbp-spmenu-push {
	overflow-x: hidden;
	position: relative;
	left: 0;
}

.cbp-spmenu-push-toright {
	left: 240px;
}

.cbp-spmenu-push-toleft {
	left: -240px;
}


/* Transitions */

.cbp-spmenu,
.cbp-spmenu-push {
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

@media screen and (max-width: 55.1875em){

	.cbp-spmenu-horizontal {
		font-size: 75%;
		height: 110px;
	}

	.cbp-spmenu-top {
		top: -110px;
	}

	.cbp-spmenu-bottom {
		bottom: -110px;
	}

}

@media screen and (max-height: 26.375em){

	.cbp-spmenu-vertical {
		font-size: 90%;
		width: 190px;
	}

	.cbp-spmenu-left,
	.cbp-spmenu-push-toleft {
		left: -190px;
	}

	.cbp-spmenu-right {
		right: -190px;
	}

	.cbp-spmenu-push-toright {
		left: 190px;
	}
}

.cbp-spmenu-vertical header { 1px solid #258ecd;
	margin: 0px;
	padding: 5px;
	color: #000000;
	background: #5bc0de; /* transparent;        	*/
	height: 80px;
}

.cbp-hsmenu-wrapper .cbp-hsmenu {
	width: 100%;
}

.cbp-hsmenu>li>a {
	color: #fff;
	font-size: 1em;
	line-height: 3em;
	display: inline-block;
	position: relative;
	z-index: 10000;
	outline: none;
	text-decoration: none;
}

/**
 * Panel
 */
 .panel-title {
	overflow: hidden;
}

.panel-heading a.k-link: hover {
	color : #3498db;
} 